In [1]:
#1  Discuss strong slicing and provide examples
print (''' "String slicing refers to the process of extracting a portion (substring) of a string by specifying a range of indices. In Python, string slicing uses the format:
       start
       stop
       step" ''')

 "String slicing refers to the process of extracting a portion (substring) of a string by specifying a range of indices. In Python, string slicing uses the format:
       start
       stop
       step"

In [5]:
#basic slicing example
string= "My name is Jhilik"
string[1:4] #it starts with index 1 i.e "y" and ends with index 4 that will be the index before 4 i.e 3 "n"

'y n'

In [7]:
#omitting start or stop
string= "My name is Jhilik"
string[1:] #in this we are saying to start with index 1 i.e."y" and leaving the stop index empty so it'll print the entire string

'y name is Jhilik'

In [8]:
string[:5] #in this we are leaving the start index empty and telling to stop at index 4

'My na'

In [9]:
#Negative slicing using the same elements of string
string[-1:] #here we want only the last character

'k'

In [10]:
string[:-3] #here we dont want the last 3 characters

'My name is Jhi'

In [13]:
#step slicing using the same elements of string
string[::2] #here we are commanding to skip 2 steps

'M aei hlk'

In [14]:
#reverse string using the same elements of string
string[::-1]

'kilihJ si eman yM'

In [15]:
#2 Explain the key features of lists in Python
print("Lists - list is an ordered collection of elements that can be of any data type")

Lists - list is an ordered collection of elements that can be of any data type

In [17]:
#ordered
string= ['apple','banana','potato',7,53,'jhlik']
string[1]

'banana'

In [18]:
string[2]=83 #lists are mutable
string

['apple', 'banana', 83, 7, 53, 'jhlik']

In [20]:
string.append(9) #append means adding new elements to the list
string

['apple', 'banana', 83, 7, 53, 'jhlik', 9, 9]

In [21]:
string.remove(53) #remove means removing element from the list
string

['apple', 'banana', 83, 7, 'jhlik', 9, 9]

In [22]:
lis=[[1,2,3],[4,5,6],[7,8,9]]
type(lis)

list

In [23]:
#list comprehension
num=[1,2,3,4]
[number*2 for number in num] #List comprehensions provide a concise way to create lists based on existing lists, making them efficient and readable.

[2, 4, 6, 8]

In [24]:
#3  Describe how to access, modify, and delete elements in a list with examples
print ("In Python, accessing, modifying, and deleting elements in a list can be done using indexing, slicing, and built-in methods. Here’s a breakdown of each operation with examples." )

In Python, accessing, modifying, and deleting elements in a list can be done using indexing, slicing, and built-in methods. Here’s a breakdown of each operation with examples.

In [26]:
#Accessing with Positive Index:
my_list = [10, 20, 30, 40, 50]
my_list[0] #assessing the first element

10

In [27]:
#Accessing with Negative Index:
my_list = [10, 20, 30, 40, 50]
my_list[-2] #2nd last element

40

In [29]:
#Slicing (to access multiple elements):
my_list = [10, 20, 30, 40, 50]
my_list[1:5]

[20, 30, 40, 50]

In [30]:
#Modifying Elements in a List
my_list = [10, 20, 30, 40, 50]
my_list[2]=25 #it changed 30 to 25
my_list

[10, 20, 25, 40, 50]

In [32]:
# Deleting Elements from a List
my_list = [10, 20, 30, 40, 50]
del my_list[2] #it deleted the 2nd index
my_list

[10, 20, 40, 50]

In [33]:
#Removing Specific Elements
my_list = [10, 20, 30, 40, 50]
my_list.remove(30)
(my_list)

[10, 20, 40, 50]

In [35]:
#Removing an Element by Index with pop
my_list = [10, 20, 30, 40, 50]
popped_value = my_list.pop(2)
(my_list)

[10, 20, 40, 50]

In [36]:
popped_value

30

In [37]:
#Clearing the Entire List:
my_list.clear()
(my_list)

[]

In [40]:
#4 Compare and contrast tuples and lists with examples
print('''"Use lists when you need to store a collection of items that will change over time (e.g., a to-do list, or elements you need to sort).
Use tuples when you need a collection of fixed, unchangeable items (e.g., representing a row in a database, coordinates)."''')

"Use lists when you need to store a collection of items that will change over time (e.g., a to-do list, or elements you need to sort).
Use tuples when you need a collection of fixed, unchangeable items (e.g., representing a row in a database, coordinates)."

In [41]:
#mutability
#lists are mutable whereas tuples are immutable
string1=['apple','lemon',5,'jhilik',123]
string1[2]=55
string1

['apple', 'lemon', 55, 'jhilik', 123]

In [42]:
#syntax
#lists uses [] whereas tuples uses ()
string1=['apple','lemon',5,'jhilik',123]
type(string1)

list

In [43]:
tup=('apple','lemon',5,'jhilik',123)
type(tup)

tuple

In [49]:
#Both lists and tuples support indexing and slicing to access elements.
my_list = [10, 20, 30]
my_tuple = (10, 20, 30)

print(my_list[1])

20

In [50]:
print(my_tuple[-1])

30

In [51]:
#Lists allow you to modify, add, or remove elements.
#Tuples do not allow modification after creation, though you can concatenate or multiply tuples to create new ones.
my_list = [10, 20, 30]
my_list[1] = 25  # List allows modification
print(my_list)

[10, 25, 30]

In [52]:
my_tuple = (10, 20, 30)
# my_tuple[1] = 25  # This would raise an error

# However, you can concatenate tuples
new_tuple = my_tuple + (40, 50)
print(new_tuple)

(10, 20, 30, 40, 50)

In [53]:
#5 Describe the key features of sets and provide examples of their uses
print('''"the key features of sets are:
Unordered: No specific order, so no indexing.
Unique Elements: Automatically removes duplicates.
Mutable: You can add or remove elements (except for frozensets).
Fast Membership Testing: Optimized for checking if an item exists.
Set Operations: Support for union, intersection, difference, and symmetric difference."''')

"the key features of sets are:
Unordered: No specific order, so no indexing.
Unique Elements: Automatically removes duplicates.
Mutable: You can add or remove elements (except for frozensets).
Fast Membership Testing: Optimized for checking if an item exists.
Set Operations: Support for union, intersection, difference, and symmetric difference."

In [54]:
#unordered
my_set = {1, 3, 5, 7}
my_set  #(order may vary)

{1, 3, 5, 7}

In [55]:
#unique elements
my_set = {1, 2, 2, 3, 4, 4}
my_set

{1, 2, 3, 4}

In [56]:
#mutable
my_set = {1, 2, 3}
my_set.add(4)   # Adding an element
my_set.remove(2)  # Removing an element
my_set

{1, 3, 4}

In [57]:
#membership testing
my_set = {1, 2, 3, 4, 5}
3 in my_set

True

In [58]:
#mathematical set operations
students_A = {"John", "Emma", "Sophia"}
students_B = {"Emma", "Liam", "Noah"}
common_students = students_A & students_B
common_students

{'Emma'}

In [59]:
#6 Discuss the use cases of tuples and sets in Python programming

In [60]:
#1. Fixed Data Collections
# Tuples are ideal for representing fixed collections of data that shouldn’t change during the program's execution. For example, use tuples to represent constant data like coordinates, RGB color values, or configuration settings.
coordinates = (40.7128, 74.0060)  # Latitude and longitude for a location
rgb_color = (255, 0, 0)  # RGB colour

In [61]:
#Sets automatically discard duplicate values. This makes them ideal for situations where you need to ensure that a collection of items contains only unique values.
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = set(numbers)
unique_numbers

{1, 2, 3, 4, 5}

In [62]:
# Data Integrity
#Since tuples are immutable, they are useful for ensuring that data remains unmodified. This is especially helpful when passing data to functions where you don’t want the data to be altered.
user_info = ("John", "Doe", 29)  # Tuple to store user info that shouldn't be modified

In [64]:
#Membership Testing
#Sets are optimized for fast membership testing. If you frequently need to check whether an item exists in a collection, a set will be faster than a list.
a = {"apple", "banana", "guava"}
if "apple" in a:
    print("fruits")

fruits

In [66]:
# Dictionary Keys
#Since tuples are immutable, they can be used as keys in dictionaries (unlike lists). This is useful for associating compound data with values.
locations = {
    (40.7128, 74.0060): "New York",
    (51.5074, -0.1278): "London"
}
locations[(40.7128, 74.0060)]

'New York'

In [67]:
# Mathematical Set Operations
#Sets support operations like union, intersection, difference, and symmetric difference. These operations are useful in many real-world scenarios such as filtering datasets or combining distinct collections of items.
#union
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1 | set2)

{1, 2, 3, 4, 5}

In [68]:
#intersection
print(set1 & set2)

{3}

In [69]:
#difference
print(set1 - set2)

{1, 2}

In [70]:
#7  Describe how to add, modify and delete items in a dictionary with examples

In [71]:
#add
#You can add items to a dictionary by assigning a value to a new key. If the key doesn’t already exist, it will be added.
# Creating an empty dictionary
my_dict = {}

# Adding key-value pairs
my_dict["name"] = "John"
my_dict["age"] = 30
my_dict

{'name': 'John', 'age': 30}

In [72]:
my_dict.update({"city": "New York", "job": "Engineer"})
my_dict

{'name': 'John', 'age': 30, 'city': 'New York', 'job': 'Engineer'}

In [73]:
#modify
#To modify an item in a dictionary, you simply assign a new value to an existing key. If the key already exists, its value will be updated.
my_dict = {"name": "John", "age": 30, "city": "New York"}

# Modifying the value of an existing key
my_dict["age"] = 31
my_dict["city"] = "San Francisco"
my_dict

{'name': 'John', 'age': 31, 'city': 'San Francisco'}

In [74]:
my_dict.update({"age": 32, "job": "Senior Engineer"})
my_dict

{'name': 'John', 'age': 32, 'city': 'San Francisco', 'job': 'Senior Engineer'}

In [75]:
#delete
#The del keyword removes the key-value pair by specifying the key. If the key does not exist, it raises a KeyError.
my_dict = {"name": "John", "age": 30, "city": "New York"}

del my_dict["city"]
my_dict

{'name': 'John', 'age': 30}

In [76]:
#8  Discuss the importance of dictionary keys being immutable and provide examples
print("In Python, dictionary keys must be immutable, meaning that once they are created, their value cannot be changed. This is because dictionaries rely on hashing to store and retrieve data efficiently. Immutable keys ensure that the hash values of keys remain constant, enabling fast lookups, insertions, and deletions.")

In Python, dictionary keys must be immutable, meaning that once they are created, their value cannot be changed. This is because dictionaries rely on hashing to store and retrieve data efficiently. Immutable keys ensure that the hash values of keys remain constant, enabling fast lookups, insertions, and deletions.

In [77]:
 # using strings as dictionary keys
my_dict = {"name": "Alice", "age": 30}
print(my_dict["name"])

Alice

In [80]:
#numbers
my_dict = {1: "one", 2: "two", 3: "three"}
print(my_dict[2])

two

In [79]:
#tuples
my_dict = {(1, 2): "coordinates", (3, 4): "more coordinates"}
print(my_dict[(1, 2)])

coordinates